{% extends 'base.html' %}

{% block style %}
    <style type="text/css">
        body {
            background-color: #222;
        }
        span {
            color: white;
        }
        
    </style>
{% endblock %}

{% block app_content %}
    <!--<nav class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container-fluid"> 
            <p class="navbar-text navbar-right">Signed in as 
                <a href="#" class="navbar-link">Mark Otto</a>
            </p>
        </div> 
    </nav>-->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">Artist Diary</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="activate">
                        <a href="#home">Inicio</a>
                    </li>
                    <li>
                        <a href="#login_page">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="#register_page">Registrarse</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="container tab_acivate" id="home">
            <span>Página de inicio.</span>
        </div>
        <div class="container" id="register_page" style="display:none;">
            <span>Página de registro.</span>
        </div>
        <div class="container" id="login_page" style="display:none;">
            <span>Página de inicio de sesión.</span>
        </div>
    </div>
{% endblock app_content %}

{% block script %}
    <script type="text/javascript">
        
    </script>
{% endblock script %}